.clear:after
  content: ''
  display: block
  clear: both
@import helper/maps
@import helper/functions
@import helper/vars
@import helper/mixins
@import base/fonts
body  
  line-height: 1.15 !important
  font-family: "Open Sans" !important
a 
  text-decoration: none
  &:hover 
    text-decoration: none
ul 
  list-style: none
input
  outline: none
input, a
  +transition()
.wrapper 
  width: 53%
  margin: 0 auto
.butn-row
  margin: 0
  text-align: center
@import components/header
@import components/main
@import components/footer