section.advantages
  h2.title.main-title преимущества работы с нами
  - var i = 0
  each advantage in advantages
    - i++ 
    .advantage(class= advantage.name)&attributes({"class": "advantage-" + i})
      .wrapper
        .advantagesimage 
          img(src= "img/" + advantage.name + ".png", alt="advantage icon")
        .advantagescontent 
          h3= advantage.title
          p We truly care about your site as much as you do, which is why we offer amazing support at our dedicated support center. In addition, we offer free updates with new features requested by our users. You can count on us.




