footer
  .wrapper
    .footer-content
      a(href="#").logo
        img(src="img/logowhite.png", alt="Лого")
      .contact-phone-footer
        a(href="tel:+74957254226").tel.footer-tel +7 495 725-42-26
        a(href="#").butn.call-back_butn.footer-butn Обратный  звонок