<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Мебель Эксперт
    link(rel="stylesheet", href="css/style.css")
  body
    include helper/vars
    include helper/mixins
    include components/header
    include components/main
        