-
  let columns = [
    {title: "Экономия до 200%", iconDecoration: "right-top", total: "Кухня(2000$) + Спальня(2100$) + Мягкая мебель в зал(2200$)"},
    {title: "Переплатить более чем в 200%", iconDecoration: "left-bottom", total: "Кухня(3000$) + Спальня(2600$) + Мягкая мебель в зал(3000$)"}
  ];
  columnListItems = [
    "Доставка и расстаможка: +25%",
    "Аренда в ТЦ: от 5000 тг за кв.м. + 10% к стоимости",
    "Зарплата сотрудников: +10% к стоимости",
    "НДС: +12% к стоимости",
    "КПН: +5% к стоимости",
    "Аренда склада: от 800 тг за кв.м. + 5 к стоимости",
    "Прибыль владельца магазина: +30%-50% - к стоимости"
  ];
  form = [
    {content: "name", placeholder: "Ваше имя"},
    {content: "tel", placeholder: "Телефон"},
    {content: "email", placeholder: "E-mail"}
  ];
  advantages = [
    {name: "factory", title: "покупка прямо с завода изготовителя"},
    {name: "customs", title: "Таможня за 1 день"},
    {name: "documents", title: "100% сопровождение при оформлении документов"},
    {name: "warranty", title: "юридические гарантии"},
    {name: "discounts", title: "скидки до 30% на апартаменты"},
    {name: "restaurants", title: "скидка 10% на русские и турецкие рестораны"},
    {name: "guide", title: "бесплатный гид и переводчик"},
    {name: "expenses", title: "оптимизация расходов при таможенном оформлении"},
    {name: "delivery", title: "различные виды доставки (авто, ж/д, авиа)"}
  ];